# VERİ DÜZENLEME

In [1]:
import pandas as pd
import numpy as np

In [2]:
veriler = pd.read_csv('train.csv', parse_dates=['Tarih'])

In [3]:
veriler.head(25)

                 Tarih  Dağıtılan Enerji (MWh)
0  2018-01-01 00:00:00             1593.944216
1  2018-01-01 01:00:00             1513.933887
2  2018-01-01 02:00:00             1402.612637
3  2018-01-01 03:00:00             1278.527266
4  2018-01-01 04:00:00             1220.697701
5  2018-01-01 05:00:00             1198.880143
6  2018-01-01 06:00:00             1214.929891
7  2018-01-01 07:00:00             1265.478529
8  2018-01-01 08:00:00             1273.425656
9  2018-01-01 09:00:00             1371.633681
10 2018-01-01 10:00:00             1521.434794
11 2018-01-01 11:00:00             1673.166856
12 2018-01-01 12:00:00             1720.013615
13 2018-01-01 13:00:00             1703.987885
14 2018-01-01 14:00:00             1658.953271
15 2018-01-01 15:00:00             1625.411637
16 2018-01-01 16:00:00             1644.187542
17 2018-01-01 17:00:00             1763.710259
18 2018-01-01 18:00:00             2016.564314
19 2018-01-01 19:00:00             2092.206342
20 2018-01-01 20:00:00             2028.945576
21 2018-01-01 21:00:00             1953.845751
22 2018-01-01 22:00:00             1869.264892
23 2018-01-01 23:00:00             1739.973061
24 2018-01-02 00:00:00             1537.411835

In [10]:
veriler = veriler.rename(columns={"Dağıtılan Enerji (MWh)" : "DE"})

In [16]:
def add_quality(o_clock):
    if 0 <= o_clock and o_clock <= 4: 
        return 0
    elif o_clock > 20:
        return 0
    elif 11 < o_clock and o_clock <= 12:
        return 0
    elif 5 < o_clock and o_clock <= 11:
        return 1
    elif 12 < o_clock and o_clock <= 14:
        return 1
    elif 4 < o_clock and o_clock <= 6:
        return 2
    elif 14 < o_clock and o_clock <= 20:
        return 2

In [20]:
veriler['Gün'] = veriler['Tarih'].dt.dayofweek
veriler["GünSırası"]=veriler["Tarih"].dt.day
veriler['Ay'] = veriler['Tarih'].dt.month
veriler['Yıl'] = veriler['Tarih'].dt.year
veriler['Saat'] = veriler['Tarih'].dt.hour
veriler['Mevsim'] = (veriler['Tarih'].dt.month % 12 + 3) // 3
veriler['Hafta Sonu'] = veriler['Gün'].apply(lambda x: 1 if x in [5, 6] else 0)
veriler['Gece'] = veriler['Saat'].apply(lambda x: 1 if x in [18,19,20,21,22,23,0,1,2,3,4,5] else 0)
veriler["Artmış Mı"] = veriler["Saat"].apply(add_quality)
veriler['Mesai'] = veriler['Saat'].apply(lambda x: 1 if x in [8, 9,10,11,12,14,15,16,17,18,19] else 0)
veriler['Mesai'] = veriler['Mesai'].mask(veriler['Gün'] == 'Pazar', 0)
veriler['Önemli'] = veriler['Ay'].apply(lambda x: "1" if x in [7, 8] else "0")

In [21]:
veriler.head(50)

,Tarih,DE,Gün,GünSırası,Ay,Yıl,Saat,Mevsim,Hafta Sonu,Gece,Artmış Mı,Mesai,Önemli
0,2018-01-01 00:00:00,1593.944216,0,1,1,2018,0,1,0,1,0,0,0
1,2018-01-01 01:00:00,1513.933887,0,1,1,2018,1,1,0,1,0,0,0
2,2018-01-01 02:00:00,1402.612637,0,1,1,2018,2,1,0,1,0,0,0
3,2018-01-01 03:00:00,1278.527266,0,1,1,2018,3,1,0,1,0,0,0
4,2018-01-01 04:00:00,1220.697701,0,1,1,2018,4,1,0,1,0,0,0
5,2018-01-01 05:00:00,1198.880143,0,1,1,2018,5,1,0,1,2,0,0
6,2018-01-01 06:00:00,1214.929891,0,1,1,2018,6,1,0,0,1,0,0
7,2018-01-01 07:00:00,1265.478529,0,1,1,2018,7,1,0,0,1,0,0
8,2018-01-01 08:00:00,1273.425656,0,1,1,2018,8,1,0,0,1,1,0
9,2018-01-01 09:00:00,1371.633681,0,1,1,2018,9,1,0,0,1,1,0
10,2018-01-01 10:00:00,1521.434794,0,1,1,2018,10,1,0,0,1,1,0
11,2018-01-01 11:00:00,1673.166856,0,1,1,2018,11,1,0,0,1,1,0
12,2018-01-01 12:00:00,1720.013615,0,1,1,2018,12,1,0,0,0,1,0
13,2018-01-01 13:00:00,1703.987885,0,1,1,2018,13,1,0,0,1,0,0
14,2018-01-01 14:00:00,1658.953271,0,1,1,2018,14,1,0,0,1,1,0
15,2018-01-01 15:00:00,1625.411637,0,1,1,2018,15,1,0,0,2,1,0
16,2018-01-01 16:00:00,1644.187542,0,1,1,2018,16,1,0,0,2,1,0
17,2018-01-01 17:00:00,1763.710259,0,1,1,2018,17,1,0,0,2,1,0
18,2018-01-01 18:00:00,2016.564314,0,1,1,2018,18,1,0,1,2,1,0
19,2018-01-01 19:00:00,2092.206342,0,1,1,2018,19,1,0,1,2,1,0
20,2018-01-01 20:00:00,2028.945576,0,1,1,2018,20,1,0,1,2,0,0
21,2018-01-01 21:00:00,1953.845751,0,1,1,2018,21,1,0,1,0,0,0
22,2018-01-01 22:00:00,1869.264892,0,1,1,2018,22,1,0,1,0,0,0
23,2018-01-01 23:00:00,1739.973061,0,1,1,2018,23,1,0,1,0,0,0
24,2018-01-02 00:00:00,1537.411835,1,2,1,2018,0,1,0,1,0,0,0
25,2018-01-02 01:00:00,1336.836067,1,2,1,2018,1,1,0,1,0,0,0
26,2018-01-02 02:00:00,1226.970135,1,2,1,2018,2,1,0,1,0,0,0
27,2018-01-02 03:00:00,1180.814030,1,2,1,2018,3,1,0,1,0,0,0
28,2018-01-02 04:00:00,1159.408556,1,2,1,2018,4,1,0,1,0,0,0
29,2018-01-02 05:00:00,1183.444556,1,2,1,2018,5,1,0,1,2,0,0
30,2018-01-02 06:00:00,1305.998970,1,2,1,2018,6,1,0,0,1,0,0
31,2018-01-02 07:00:00,1558.114956,1,2,1,2018,7,1,0,0,1,0,0
32,2018-01-02 08:00:00,1901.815311,1,2,1,2018,8,1,0,0,1,1,0
33,2018-01-02 09:00:00,2177.612027,1,2,1,2018,9,1,0,0,1,1,0
34,2018-01-02 10:00:00,2305.452403,1,2,1,2018,10,1,0,0,1,1,0
35,2018-01-02 11:00:00,2368.597255,1,2,1,2018,11,1,0,0,1,1,0
36,2018-01-02 12:00:00,2256.569802,1,2,1,2018,12,1,0,0,0,1,0
37,2018-01-02 13:00:00,2248.647310,1,2,1,2018,13,1,0,0,1,0,0
38,2018-01-02 14:00:00,2231.563291,1,2,1,2018,14,1,0,0,1,1,0
39,2018-01-02 15:00:00,2185.768513,1,2,1,2018,15,1,0,0,2,1,0
40,2018-01-02 16:00:00,2178.681961,1,2,1,2018,16,1,0,0,2,1,0
41,2018-01-02 17:00:00,2213.733771,1,2,1,2018,17,1,0,0,2,1,0
42,2018-01-02 18:00:00,2281.724797,1,2,1,2018,18,1,0,1,2,1,0
43,2018-01-02 19:00:00,2268.745607,1,2,1,2018,19,1,0,1,2,1,0
44,2018-01-02 20:00:00,2198.999288,1,2,1,2018,20,1,0,1,2,0,0
45,2018-01-02 21:00:00,2093.537706,1,2,1,2018,21,1,0,1,0,0,0
46,2018-01-02 22:00:00,1998.851478,1,2,1,2018,22,1,0,1,0,0,0
47,2018-01-02 23:00:00,1855.395113,1,2,1,2018,23,1,0,1,0,0,0
48,2018-01-03 00:00:00,1620.515443,2,3,1,2018,0,1,0,1,0,0,0
49,2018-01-03 01:00:00,1429.103502,2,3,1,2018,1,1,0,1,0,0,0

In [39]:
#veriler = veriler.drop('Tarih', axis=1)
veriler= veriler.astype(float)
#veriler.info()
veriler

,DE,Gün,GünSırası,Ay,Yıl,Saat,Mevsim,Hafta Sonu,Gece,Artmış Mı,Mesai,Önemli
0,1593.944216,0.0,1.0,1.0,2018.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1513.933887,0.0,1.0,1.0,2018.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1402.612637,0.0,1.0,1.0,2018.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1278.527266,0.0,1.0,1.0,2018.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0
4,1220.697701,0.0,1.0,1.0,2018.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2492.489498,6.0,31.0,7.0,2022.0,19.0,3.0,1.0,1.0,2.0,1.0,1.0
40148,2479.958245,6.0,31.0,7.0,2022.0,20.0,3.0,1.0,1.0,2.0,0.0,1.0
40149,2485.016884,6.0,31.0,7.0,2022.0,21.0,3.0,1.0,1.0,0.0,0.0,1.0
40150,2396.574255,6.0,31.0,7.0,2022.0,22.0,3.0,1.0,1.0,0.0,0.0,1.0
40151,2285.252844,6.0,31.0,7.0,2022.0,23.0,3.0,1.0,1.0,0.0,0.0,1.0

# %20 %80 MODEL EĞİTME

In [24]:
from sklearn.model_selection import train_test_split
def mape(y_test, y_pred):
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

In [35]:
# Bağımlı ve bağımsız değişkenleri ayırma
X = veriler.drop(["DE"], axis=1)
y = veriler["DE"]

In [36]:
# Train-test olarak verileri bölme
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [37]:
from sklearn.ensemble import RandomForestRegressor
model1 = RandomForestRegressor(n_estimators=100, random_state=0) 
model1.fit(X_train, y_train)
y_pred1 = model1.predict(X_test)
print('MAPE ', mape(y_test, y_pred1))

MAPE  2.3324824109176454

In [38]:
import eli5
from eli5.sklearn import PermutationImportance
# verilerimizin model üzerindeki etkisini hesaplıyoruz
perm = PermutationImportance(model1, random_state=1).fit(X_test, y_test)
eli5.show_weights(perm, feature_names = X_test.columns.tolist())

# SON AYI TAHMİNLEME

In [76]:
X= veriler.drop(['DE'], axis=1)
X_train=[]
X_test=[]
for i in range(len(X)):
    if X.iloc[i]['Ay']== 7 and X.iloc[i]['Yıl']==2022:
       X_test.append(X.iloc[i])
    else:
        X_train.append(X.iloc[i])

In [77]:
X_train = pd.DataFrame(X_train, columns=['Gün', 'GünSırası', 'Ay','Yıl', 'Saat', 'Mevsim','Hafta Sonu', 'Gece', 'Artmış Mı','Mesai', 'Önemli'])
X_test= pd.DataFrame(X_test, columns=['Gün', 'GünSırası', 'Ay','Yıl', 'Saat', 'Mevsim','Hafta Sonu', 'Gece', 'Artmış Mı','Mesai', 'Önemli'])

In [78]:
X_train

,Gün,GünSırası,Ay,Yıl,Saat,Mevsim,Hafta Sonu,Gece,Artmış Mı,Mesai,Önemli
0,0.0,1.0,1.0,2018.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,1.0,2018.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,1.0,2018.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,1.0,2018.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,1.0,2018.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
39403,3.0,30.0,6.0,2022.0,19.0,3.0,0.0,1.0,2.0,1.0,0.0
39404,3.0,30.0,6.0,2022.0,20.0,3.0,0.0,1.0,2.0,0.0,0.0
39405,3.0,30.0,6.0,2022.0,21.0,3.0,0.0,1.0,0.0,0.0,0.0
39406,3.0,30.0,6.0,2022.0,22.0,3.0,0.0,1.0,0.0,0.0,0.0
39407,3.0,30.0,6.0,2022.0,23.0,3.0,0.0,1.0,0.0,0.0,0.0

In [79]:
X_test

,Gün,GünSırası,Ay,Yıl,Saat,Mevsim,Hafta Sonu,Gece,Artmış Mı,Mesai,Önemli
39408,4.0,1.0,7.0,2022.0,0.0,3.0,0.0,1.0,0.0,0.0,1.0
39409,4.0,1.0,7.0,2022.0,1.0,3.0,0.0,1.0,0.0,0.0,1.0
39410,4.0,1.0,7.0,2022.0,2.0,3.0,0.0,1.0,0.0,0.0,1.0
39411,4.0,1.0,7.0,2022.0,3.0,3.0,0.0,1.0,0.0,0.0,1.0
39412,4.0,1.0,7.0,2022.0,4.0,3.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
40147,6.0,31.0,7.0,2022.0,19.0,3.0,1.0,1.0,2.0,1.0,1.0
40148,6.0,31.0,7.0,2022.0,20.0,3.0,1.0,1.0,2.0,0.0,1.0
40149,6.0,31.0,7.0,2022.0,21.0,3.0,1.0,1.0,0.0,0.0,1.0
40150,6.0,31.0,7.0,2022.0,22.0,3.0,1.0,1.0,0.0,0.0,1.0
40151,6.0,31.0,7.0,2022.0,23.0,3.0,1.0,1.0,0.0,0.0,1.0

In [82]:
Y_train=[]
Y_test=[]
for i in range(len(veriler)):
    if veriler.iloc[i]['Ay']== 7 and veriler.iloc[i]['Yıl']==2022:
       Y_test.append(veriler.iloc[i]['DE'])
    else:
        Y_train.append(veriler.iloc[i]['DE'])

In [94]:
Y_train = pd.Series(Y_train)
Y_test= pd.Series(Y_test)

In [95]:
Y_train

0        1593.944216
1        1513.933887
2        1402.612637
3        1278.527266
4        1220.697701
            ...
39403    2392.143374
39404    2349.225766
39405    2365.466215
39406    2229.158338
39407    2086.666645
Length: 39408, dtype: float64

In [96]:
Y_test

0      1936.236898
1      1786.590420
2      1687.829090
3      1600.208464
4      1584.397059
          ...
739    2492.489498
740    2479.958245
741    2485.016884
742    2396.574255
743    2285.252844
Length: 744, dtype: float64

In [93]:
type(X_train)

pandas.core.frame.DataFrame

In [97]:
model2 = RandomForestRegressor(n_estimators=100, random_state=0) 
model2.fit(X_train, Y_train)
y_pred2 = model2.predict(X_test)
print('MAPE ', mape(Y_test, y_pred2))

MAPE  14.685109622609549